[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
django-debugtools = "*"
django-tables2 = "*"
geopy = "*"
django-filters = "*"
django-filter = "*"
numpy = "*"
tqdm = "*"

[requires]
python_version = "3.7"
